.project
.settings
bin
gen
out
.DS_Store
local.properties
target
gen-external-apklibs
*.iml
.idea
classes
ApiKeys.java
.gradle
gradle.properties
app/src/beta
app/src/release
app/seed.txt
build/
*/crashlytics.properties
crashlytics-build.properties
com_crashlytics_export_strings.xml
