language: android

jdk:
- oraclejdk8

android:
   components:
      - tools
      - platform-tools
      - build-tools-24.0.2
      - android-24
      - extra-android-m2repository

script:
   - ./gradlew clean testMadaniRelease -PdisableCrashlytics
