<manifest xmlns:android="http://schemas.android.com/apk/res/android">

  <application>
    <meta-data android:name="google_analytics_default_allow_ad_personalization_signals" android:value="false" />
    <meta-data android:name="google_analytics_adid_collection_enabled" android:value="false" />
    <meta-data android:name="google_analytics_ssaid_collection_enabled" android:value="false" />
  </application>
</manifest>
