<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
  android:installLocation="auto">

  <application
      android:icon="@drawable/debug_icon"
      android:roundIcon="@drawable/debug_icon"
      android:label="${app_debug_label}"
      android:name=".DebugApplication"
      tools:replace="android:icon,android:roundIcon,android:label,android:name">

    <activity android:name=".QuranDataActivity" />

    <meta-data
        android:name="firebase_crashlytics_collection_enabled"
        android:value="false" />
  </application>
</manifest>
