<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
  <uses-permission android:name="android.permission.WAKE_LOCK"/>

  <!-- foreground services need this when targeting Android 9+ (Api 28+) -->
  <uses-permission-sdk-23 android:name="android.permission.FOREGROUND_SERVICE"/>

  <!-- required for posting notifications on Android 13+ (Api 33+) -->
  <uses-permission-sdk-23 android:name="android.permission.POST_NOTIFICATIONS"/>

  <!-- required for foreground service types on Android 14+ (Api 34+) -->
  <uses-permission-sdk-23 android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
  <uses-permission-sdk-23 android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />

  <!-- Android TV requirement -->
  <uses-feature android:name="android.software.leanback" android:required="true" />
  <uses-feature android:name="android.hardware.touchscreen" android:required="false" />

  <application
      android:allowBackup="true"
      android:banner="@mipmap/tv_banner"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:name=".QuranTvApplication"
      android:supportsRtl="true"
      android:theme="@style/Theme.QuranTv">

    <activity
        android:name=".ui.TvMainActivity"
        android:exported="true"
        android:banner="@mipmap/tv_banner">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LEANBACK_LAUNCHER"/>
      </intent-filter>
    </activity>
  </application>
</manifest>
